@model IEnumerable<Blob>
@{ 
    Layout = null; 
}
@for(var i = 0; i < Model.Count(); i++)
{
    <div style="text-align: center;margin-bottom:15px;">
        <img style="max-width: 70%" src="/Home/Download/@Model.ElementAt(i).Id" alt="@Model.ElementAt(i).FileName" />
        <br />
        <a target="_blank" asp-action="Image" asp-controller="Home" asp-route-id="@Model.ElementAt(i).Id">查看照片</a>
        <a href="javascript:removePicture('@Model.ElementAt(i).Id');">删除照片</a>
        <hr />
    </div>
}