@{ 
    ViewBag.Title = "登录";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>@ViewBag.Title - 中国铁塔数据校验平台</title>
    <link href="~/styles/bootstrap.css" rel="stylesheet">
    <link href="~/styles/font-awesome.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet">
    <link href="~/styles/style-responsive.css" rel="stylesheet">

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.backstretch.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="login-page">
        <div class="container">
            <form class="form-login" asp-action="Login" asp-controller="Account" method="post">
                <h2 class="form-login-heading">中国铁塔</h2>
                <div class="login-wrap">
                    <input type="text" class="form-control" placeholder="用户名" name="username" autofocus>
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="密码">
                    <label class="checkbox">
                        <span class="pull-right">
                            <a data-toggle="modal" href="login.html#myModal"> 忘记密码?</a>
                        </span>
                    </label>
                    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> 登录</button>
                </div>
            </form>
            <br />
            <br />
            <div style="text-align:center;color:#ccc">Copyright © 2016 Harbin <a style="color:#ccc" href="http://www.codecomb.com">Code Comb™</a> Technology Co., Ltd. All rights reserved. </div>
        </div>
    </div>
    <script>
        $.backstretch("/images/login-bg.jpg", {speed: 500});
    </script>
</body>
</html>
