@model City
@{ 
    ViewBag.Title = "编辑城市边界";
}

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=g6DcirKK7FlGGGoiLwslU9kL"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
<div id="allmap">
</div>
<script>
    var map = new BMap.Map("allmap");
    var myDis = new BMapLib.DistanceTool(map);
    var icon = new BMap.Icon("/images/start_pos.png", new BMap.Size(32, 32));
    $.getJSON('@(new HtmlString(Url.Action("Gps", "City", new { city = Model.Id, address = Model.Id })))', {}, function (data) { 
        map.centerAndZoom(new BMap.Point(data.Lon, data.Lat), 17);
        map.enableScrollWheelZoom(true);
        var current_edge = @(new HtmlString(Model.EdgeJson));
        var points = [];
        for (var i = 0; i < current_edge.legnth; i++)
            points.push(new BMap.Point(current_edge[i].X, current_edge[i].Y));
        var polyline = new BMap.Polyline(points, { strokeColor:'blue', strokeWeight:5, strokeOpacity:1 });
        map.addOverlay(polyline);
    });

    resizeMap();

    function resizeMap()
    {
        $('#allmap').height($(window).height() - $('#allmap').offset().top);
        $('#allmap').outerWidth($('.wrapper').outerWidth());
    }

    $(window).resize(function(){ resizeMap(); });
</script>