<div class="modal fade" id="modalVerifyLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">校验信息详情</h4>
            </div>
            <div class="modal-body" id="divVerifyLog">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-action="Edit" asp-controller="Station" class="modal-content" method="post" id="frmFormEdit">
            <input type="hidden" name="id" id="formId" />
            <input type="hidden" name="type" id="formType" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑表单</h4>
            </div>
            <div class="modal-body" id="divEditForm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnFormEditSubmit" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>